---
# Cleanup tasks after ISO creation or on failure
#Unmount ISO
- name: Unmount ISO
  mount:
    path: "{{ iso_mount_path }}"
    state: unmounted

#Delete mount directory
- name: delete mount directory
  file:
    path: "{{ iso_mount_path }}"
    state: absent

#Delete extracted file and it's directory
#- name: delete extracted ISO directory
#  file:
#    path: "{{ iso_extract_path }}"
#    state: absent
...