---
- name: Prepare and mount base ISO
  block:
    - name: Do prepwork for ISO creation
      include_tasks: prepwork.yml
      register: prepwork

    - name: Create unattended ISO
      include_tasks: create_redhat_iso.yml
      when: prepwork is succeeded and flavour == "redhat" or flavour == "centos" or flavour == "rocky"
    
    #- name: Cleanup after prepwork failure
    #  include_tasks: cleanup.yml

    - name: login info
      debug:
        msg: "login with user '{{ default_user }}'"

  rescue:
    #- name: Cleanup after prepwork failure
    #  include_tasks: cleanup.yml
    
    - name: Fail the task
      ansible.builtin.fail:
        msg: "Failed to create ISO."